
.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* background-color: #0a4b88; */
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-data {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name-title {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 550;
}

.comments-text {
  font-size: clamp(14px, 1.2vw, 18px);
  margin: 5px 0 8px 0;
}

.like-container img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.name-and-comments-container {
  margin-left: 10px;
}

.like-text {
  font-weight: 600;
  font-size: clamp(14px, 1.8vw, 16px);
  color: #7e858e;
}

.like-and-delete-btn {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.delete-container {
  background-color: transparent;
  border: none;
}

.delete-container img {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.comments-list {
  border: 1px solid #bbbec2;
  padding: 15px 25px;
  border-radius: 8px;
  margin: 10px 0 10px 0;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 950px;
}

.name-time-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-container {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
}

.liked-text {
  color: #0284c7;
  font-weight: 600;
  font-size: clamp(14px, 1.8vw, 16px);
}


.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}
