.filter-item {
  margin: 0 15px;
  cursor: pointer;
}

.language-btn {
  background-color: transparent;
  border: 1px solid #0284c7;
  color: #1e293b;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in,
    color 0.3s ease-in,
    border-color 0.3s ease-in;
  outline: none;
}

.language-btn.active {
  background-color: #0284c7;
  color: #ffffff;
}

.language-btn:hover {
  background-color: #e0f2fe;
  border-color: #0284c7;
  color: #0284c7;
}

.language-btn.active:hover {
  background-color: #0284c7;
  color: #ffffff;
}
