/* mobile first approach  responsive design*/

.app-store-background {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
}

.app-store-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-store-heading {
  font-size: clamp(24px, 4vw, 36px);
  color: #333;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.search-input-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.app-store-search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 40px 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: clamp(14px, 2vw, 18px);
  box-sizing: border-box;
}

.app-store-search-input:focus {
  outline: none;
  border-color: #007bff;
}

.app-store-search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: clamp(14px, 2vw, 18px);
  color: #007bff;
  padding-right: 12px;
}

.app-store-search-icon {
  width: 20px;
  height: 20px;
}

.app-store-tabs-list {
  display: flex;
  gap: 15px;
  justify-content: center;
  list-style: none;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.app-store-apps-list {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 0;
  justify-items: center;
  margin: 0;
}

.app-store-wrapper > div {
  width: 100%;
}



.no-results-text {
  font-size: clamp(16px, 2vw, 20px);
  color: #666;
  text-align: center;
  margin-top: 20px;
  font-weight: 588;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

