@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}


.app-container {
  min-height: 100vh;
  max-width: 100%;
  background-image: url("https://assets.ccbp.in/frontend/react-js/match-game-bg.png");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 14px 0 15px 0;
}

.thumbnail-image  {
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  max-width: 600px;
  height: max-content;
}
ul {
  list-style: none;
}
.tab-lists-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 47px 0 54px 0;
}

.image-list-container {
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
